In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
614,tt0489099,85000000,222231186,Jumper,Hayden Christensen|Jamie Bell|Samuel L. Jackso...,Doug Liman,anywhere is possible.,"David Rice is a man who knows no boundaries, a...",88,Adventure|Fantasy|Science Fiction,Dune Entertainment|Hypnotic|New Regency Pictures,2/10/2008,5.9,2008
873,tt0181689,102000000,358372926,Minority Report,Tom Cruise|Colin Farrell|Samantha Morton|Max v...,Steven Spielberg,The system is perfect until it comes after you.,"John Anderton is a top ""Precrime"" cop in the l...",145,Action|Thriller|Science Fiction|Mystery,DreamWorks SKG|Cruise/Wagner Productions|Ambli...,6/20/2002,6.9,2002
822,tt1540133,6000000,19560274,The Guard,Brendan Gleeson|Don Cheadle|Liam Cunningham|Ma...,John Michael McDonagh,The FBI are about to discover that things work...,An unorthodox Irish policeman with a confronta...,96,Action|Comedy|Thriller|Crime,UK Film Council|Crescendo Productions|Element ...,7/7/2011,6.6,2011
1222,tt2191701,80000000,246984278,Grown Ups 2,Adam Sandler|Kevin James|Chris Rock|David Spad...,Dennis Dugan,Just because they're a little older doesn't me...,The all-star comedy cast from Grown Ups return...,100,Comedy,Columbia Pictures|Happy Madison Productions|So...,7/11/2013,5.9,2013
550,tt0202470,57000000,16991902,Rock Star,Mark Wahlberg|Jennifer Aniston|Jason Flemyng|D...,Stephen Herek,The story of a wanna be who got to be.,Rock Star tells the story of Chris Cole and a ...,105,Music|Drama|Comedy,Warner Bros. Pictures|Bel Air Entertainment,9/4/2001,5.9,2001

In [79]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,title_length,overview_length
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057,307.432504
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660,155.040423
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,58.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000,185.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000,288.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000,390.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000,1000.000000

# Предобработка

In [80]:
answers = {}  # создадим словарь для ответов

data['profit'] = data['revenue'] - data[
    'budget']  # Нахождение прибыли и добавление нового столбца.Прибыль = сборы - бюджет
data['title_length'] = data['original_title'].map(
    lambda x: len(x))  # Нахождение длины названия фильма и добавление нового столбца
data['overview_length'] = data['overview'].map(
    lambda x: len(x))  # Нахождение длины описания фильма и добавление нового столбца
data['release_date'] = pd.to_datetime(data['release_date'],
                                      errors='coerce')  # Преобразование столбца из строкого типа в тип Date

cast_combinations = data.copy()
cast_combinations['cast_split'] = cast_combinations['cast'].str.split('|')
cast_combinations['cast_togever'] = cast_combinations.cast_split.apply(lambda x: list(combinations(x, 2)))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [101]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # '+'
# если ответили верно, можете добавить комментарий со значком "+"

In [27]:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [102]:
answers['2'] = 'Gods and Generals (tt0279111)' # '+'

In [24]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title']]

        imdb_id     original_title
1157  tt0279111  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [103]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # '+'

In [12]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title']]

       imdb_id   original_title
768  tt1449283  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [104]:
answers['4'] = '110' # '+'

In [16]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [105]:
answers['5'] = '107' # '+'

In [20]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [106]:
answers['6'] = 'Avatar (tt0499549)' # '+'

In [34]:
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title']]

       imdb_id original_title
239  tt0499549         Avatar

# 7. Какой фильм самый убыточный?

In [107]:
answers['7'] = 'The Lone Ranger (tt1210819)' # '+'

In [39]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [108]:
answers['8'] = '1478' # '+'

In [41]:
data[data['revenue'] > data['budget']]['original_title'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [109]:
answers['9'] = 'The Dark Knight (tt0468569)' # '+'

In [44]:
max_revenue = data[data['release_year'] == 2008]['profit'].max()  # Нахождение максимальной прибыли в 2008 году

data[data['profit'] == max_revenue][['imdb_id', 'original_title']]

       imdb_id   original_title
599  tt0468569  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [110]:
answers['10'] = 'The Lone Ranger (tt1210819)' # '+'

In [46]:
min_revenue = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].profit.min()
data[data['profit'] == min_revenue][['imdb_id', 'original_title']]

        imdb_id   original_title
1245  tt1210819  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [111]:
answers['11'] = 'Drama' # '+'

In [48]:
Counter(data['genres'].str.split('|').sum()).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [51]:
genres_counter = Counter()
for item in data['genres'].str.split('|'):
    genres_counter += Counter(item)
genres_counter.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [112]:
answers['12'] = 'Drama' # '+'

In [54]:
Counter(data[data['profit'] > 0]['genres'].str.split('|').sum()).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [113]:
answers['13'] = 'Peter Jackson' # '+'

In [59]:
data.groupby(data['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [114]:
answers['14'] = 'Robert Rodriguez' # '+'

In [61]:
Counter(data[data['genres'].str.contains("Action", na=False)]['director'].str.split('|').sum()).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [115]:
answers['15'] = 'Chris Hemsworth' # '+'

In [63]:
max_revenue = data[data['release_year'] == 2012].revenue.max()
data[data['revenue'] == max_revenue].cast.str.split('|').sum()

['Robert Downey Jr.',
 'Chris Evans',
 'Mark Ruffalo',
 'Chris Hemsworth',
 'Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [116]:
answers['16'] = 'Matt Damon' # '+'

In [65]:
Counter(data[data['budget'] > data['budget'].mean()]['cast'].str.split('|').sum()).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [117]:
answers['17'] = 'Action' # '+'

In [67]:
Counter(data[data.cast.str.contains("Nicolas Cage", na=False)]['genres'].str.split('|').sum()).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [118]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # '+'

In [69]:
min_profit = data[data.production_companies.str.contains('Paramount Pictures', na=False)].profit.min()
data[data['profit'] == min_profit][['imdb_id', 'original_title']]

       imdb_id        original_title
925  tt0267626  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [119]:
answers['19'] = '2015' # '+'

In [71]:
data.groupby(data['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [120]:
answers['20'] = '2014' # '+'

In [73]:
data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [121]:
answers['21'] = 'Сентябрь' # '+'

In [81]:
data.groupby(data['release_date'].dt.month)['release_date'].count().sort_values(ascending=False)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [122]:
answers['22'] = '450' # '+'

In [83]:
data.groupby(data['release_date'].dt.month.isin([6, 7, 8]))['release_date'].count()

release_date
False    1439
True      450
Name: release_date, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [123]:
answers['23'] = 'Peter Jackson' # '+'

In [85]:
Counter(data[data['release_date'].dt.month.isin([12, 1, 2])].director.str.split('|').sum()).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [124]:
answers['24'] = 'Four By Two Productions' # '+'

In [87]:
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['title_length'][
        data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False)

Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Berlanti Productions           3.0
Everest Entertainment          3.0
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [125]:
answers['25'] = 'Midnight Picture Show' # '+'

In [89]:
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64', index=companies)
for comp in companies:
    sum_gen[comp] = data['overview_length'][
        data['production_companies'].map(lambda x: True if comp in x else False)].mean()
sum_gen.sort_values(ascending=False)

Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Henceforth                                 74.0
Projection Pictures                        74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [126]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # '+'

In [94]:
data[data['vote_average'] >= 7.9][['original_title', 'vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [127]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # '+'

In [96]:
Counter(cast_combinations['cast_togever'].sum()).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [129]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014'}

In [128]:
# и убедиться что ни чего не пропустил)
len(answers)

27