# Основная информация проекта

## Цель проекта
Выяснить, от каких самых малоприбыльных рейсов из Анапы можно отказаться в зимнее время.

## Описание датасета
1. **flight_id** - идентификатор рейса;
2. **flight_no** - номер рейса;
3. **aircraft_code** - код самолета;
4. **scheduled_flight_time** - планируемое время полета;
5. **actual_flight_time** - актуальное время полета;
6. **departure_airport** - аэропорт отправления;
7. **arrival_airport** - аэропорт прибытия;
8. **status** - статус рейса;
9. **arrival_city** - город прибытия;
10. **fuel_consumption_kg** - потребление топлива в кг. за час;
11. **business_seats** - количество мест для бизнес-класса;
12. **comfort_seats** - количество мест для комфорт-класса;
13. **economy_seats** - количество мест для эконом-класса;
14. **total_seats** - общее количество мест;
15. **business_tickets** - количество билетов бизнес-класса;
16. **comfort_tickets** - количество билетов комфорт-класса;
17. **economy_tickets** - количество билетов эконом-класса;
18. **total_tickets** - общее количество билетов;
19. **business_amount** - стоимость перелета для бизнес-класса;
20. **comfort_amount** - стоимость перелета для комфорт-класса;
21. **economy_amount** - стоимость перелета для эконом-класса;
22. **total_amount** - общая стоимость.

## Дополнительная информация
[Стоимость авиационного керосина в аэропортах Российской Федерации](https://favt.gov.ru/dejatelnost-ajeroporty-i-ajerodromy-ceny-na-aviagsm/?id=7329) для Анапы в декабре 2017 года = 45 510 за тонну

In [15]:
# Переменная с ценой топлива (переведём из т.->кг.)
fuel_price = 45510/1000

# Импорт библиотек и загрузка данных

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [8]:
pd.set_option('display.max_rows',50)
pd.set_option('display.max_columns',50)

In [10]:
flights_data = pd.read_csv('flights_data.csv')

# Обзор данных

In [11]:
display(flights_data.head(5))
flights_data.info()

,flight_id,flight_no,aircraft_code,scheduled_flight_time,actual_flight_time,departure_airport,arrival_airport,status,arrival_city,fuel_consumption_kg,business_seats,comfort_seats,economy_seats,total_seats,business_tickets,comfort_tickets,economy_tickets,total_tickets,business_amount,comfort_amount,economy_amount,total_amount
0,136119,PG0252,733,100.0,101.0,AAQ,SVO,Arrived,Moscow,2600,12,0,118,130,11.0,0.0,102.0,113.0,402600.0,0.0,1250400.0,1653000.0
1,136120,PG0252,733,100.0,99.0,AAQ,SVO,Arrived,Moscow,2600,12,0,118,130,11.0,0.0,98.0,109.0,402600.0,0.0,1202800.0,1605400.0
2,136122,PG0252,733,100.0,100.0,AAQ,SVO,Arrived,Moscow,2600,12,0,118,130,10.0,0.0,87.0,97.0,366000.0,0.0,1065000.0,1431000.0
3,136130,PG0252,733,100.0,99.0,AAQ,SVO,Arrived,Moscow,2600,12,0,118,130,10.0,0.0,97.0,107.0,366000.0,0.0,1190600.0,1556600.0
4,136131,PG0252,733,100.0,99.0,AAQ,SVO,Arrived,Moscow,2600,12,0,118,130,12.0,0.0,112.0,124.0,439200.0,0.0,1373600.0,1812800.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   flight_id              127 non-null    int64
 1   flight_no              127 non-null    object
 2   aircraft_code          127 non-null    object
 3   scheduled_flight_time  127 non-null    float64
 4   actual_flight_time     127 non-null    float64
 5   departure_airport      127 non-null    object
 6   arrival_airport        127 non-null    object
 7   status                 127 non-null    object
 8   arrival_city           127 non-null    object
 9   fuel_consumption_kg    127 non-null    int64
 10  business_seats         127 non-null    int64
 11  comfort_seats          127 non-null    int64
 12  economy_seats          127 non-null    int64
 13  total_seats            127 non-null    int64
 14  business_tickets       118 non-null    float64
 15  comfort_tickets        118 non-null    float64
 16  economy_tickets        118 non-null    float64
 17  total_tickets          118 non-null    float64
 18  business_amount        118 non-null    float64
 19  comfort_amount         118 non-null    float64
 20  economy_amount         118 non-null    float64
 21  total_amount           118 non-null    float64
dtypes: float64(10), int64(6), object(6)
memory usage: 22.0+ KB

In [18]:
# Вывод количества строк и столбцов таблицы
print(
    f'Датасет состоит из {flights_data.shape[0]} строк и {flights_data.shape[1]} столбцов')

Датасет состоит из 127 строк и 22 столбцов